:root {
  --mainRadius: 10px;
  --lightGreen: #009d2c;
}

.main {
  background: #ffffff;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--mainRadius);
}
.lightGreen {
  color: var(--lightGreen);
}
.badge {
  top: 2rem;
  left: 1rem;
  width: 40%;
}
