:root {
  --mainRadius: 10px;
  --lightGreen: #009d2c;
  --fonstSiza: 14px;
  --shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.25);
  --swiper-navigation-size: 44px;
}
.App {
  background: #e8eff5;
}
* {
  font-size: 14px;
  font-weight: 500;
}
img {
  object-fit: contain;
}
.Social svg {
  fill: #c5c1c1;
}
a {
  outline: none !important;
  text-decoration: none !important;
  padding: 2px 1px 0 !important;
  position: relative;
}
.footer a {
  color: white !important;
}
.shadow {
  box-shadow: var(--shadow);
}
.RoutLink a::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: #c5c1c1;
  bottom: 4px;
  right: -30px;
}
.fsmain {
  font-size: var(--fonstSiza);
  font-weight: 500;
}
.rounded {
  border-radius: var(--mainRadius) !important;
}
.main {
  background: #ffffff;
  box-shadow: var(--shadow);
  border-radius: var(--mainRadius);
}
.lightGreen {
  color: var(--lightGreen);
}
.badge {
  top: 1rem;
  left: 1rem;
  width: 40%;
}
.mostRedCount {
  position: relative;
}
.mostRedCount::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #c5c1c1;
  bottom: 0px;
  left: 5px;
}

.bgOrang {
  background-color: #e68735 !important;
}
.sliderAfter::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  background-color: #c5c1c1;
  bottom: 8px;
  right: -12px;
}
.custom-btn {
  background: #ffffff !important;
  box-shadow: var(--shadow) !important;
  border-radius: 5px !important;
  color: #687085 !important;
  outline: none !important;
}

.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 0px) !important;
  background: aliceblue;
  top: 22px !important;
  height: 100%;
}
.swiper-button-next {
  width: calc(var(--swiper-navigation-size) / 20 * 13) !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}
.swiper-button-prev {
  width: calc(var(--swiper-navigation-size) / 20 * 13) !important;
}
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 0px) !important;
  background: aliceblue;
  top: 22px !important;
  height: 100%;
}
.ButtonGroups .btn:hover {
  color: white !important;
  background-color: #0573f6 !important;
}
.inputGroup {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.formControl {
  display: block;
  width: 75%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 0;
  outline: none;

  appearance: none;
}
.inputGroupText {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #0573f6;
  border-radius: 0.375rem;
  color: #ffffff;

}
